html, body, #app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb{
  margin-bottom: 30px;
}
.el-card{
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}
.el-table{
  margin-top: 20px;
  font-size: 12px;
}
.el-pagination{
  margin-top: 15px;
}
/* 给联级样式表加高度 */
.el-cascader-menu{
  height: 300px;
  overflow: hidden;
}
.el-steps{
  margin: 20px;
}
.el-steps_title{
  font-size: 13px;
}
.el-form-item{
  margin: 20px;
}
/* 富文本编辑器的最小高度 */
.ql-editor{
  min-height: 300px;
}